<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="ornicar_akismet.akismet_stub" class="Ornicar\AkismetBundle\Akismet\AkismetStub" public="false" />

        <service id="ornicar_akismet.akismet_real" class="Ornicar\AkismetBundle\Akismet\AkismetReal" public="false">
            <argument type="service" id="ornicar_akismet.adapter" />
            <argument type="service" id="request_stack" />
            <argument /> <!-- throw exceptions -->
            <argument type="service" id="logger" on-invalid="null" />
        </service>

        <service id="ornicar_akismet.adapter.buzz" class="Ornicar\AkismetBundle\Adapter\AkismetBuzzAdapter" public="false">
            <argument /> <!-- site url -->
            <argument /> <!-- api key -->
        </service>

        <service id="ornicar_akismet.adapter.guzzle" class="Ornicar\AkismetBundle\Adapter\AkismetGuzzleAdapter" public="false">
            <argument /> <!-- site url -->
            <argument /> <!-- api key -->
        </service>

    </services>

</container>
